body {
    background-color: #e8e8e5;
    font-family: 'Roboto', sans-serif;
    color: black;
}


.container {
    text-align: left;
    padding: 25px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}

.profile-text {
    margin-left: 16px;
}

.alinco-icon {
    /* margin-top: 10vh; */
    width: 80px;
    height: 80px;
}

a {
    text-decoration: none;
    color: black;
}

.icons {
    margin-top: 3em;
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 5px;
}

footer {
    position: fixed;
    bottom: 0;
}